---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Episodes from '../components/Episodes.astro';
import Listen from '../components/Listen.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Episodes />
    <Listen />
  </main>
  <Footer />
</Layout>
